@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400");

html, body {
    height: 100%;
    margin: 0;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif
}

body {
    background-image: linear-gradient(to top, #576aff, #3547d4, #283599, #141d63)
}

.header {
    font-family: 'Yeon Sung', sans-serif;
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: 80px
}

.header img {
    width: 80px;
    margin-left: -15px
}

.login_div {
    background: rgba(255, 255, 255, .8);
    color: #000;
    float: none;
    border-radius: 15px
}

.logo {
    width: 80px;
    margin-top: 30px;
    border-radius: 40px
}

.btn-primary-gradient {
    background-image: linear-gradient(to top right, #0078d4, #29a2ff, #57b6ff, #91cfff)
}

.room_name {
    cursor: pointer;
    font-size: 20px
}

#logout {
    font-size: 20px;
    float: right
}

